/* GENERAL SETTINGS */

body {
  color: #000;
  background: #fff;
}

/* CONTAINER */
.container {
  width: 1300px;
}
.container-small {
  width: 950px;
}

/* TYPOGRAPHY */

small {
  display: block;
  margin: 20px 0;
}

h1 {
  font-size: 30px
}

/* HEADER */
.navbar {
  background: #fff;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  line-height: 80px;
  z-index: 10
}

/* HAMBURGER MENU AND ANIMATION */

.hamburger-menu {
  display: inline-block;
}

.hamburger-menu span {
  display: block;
  border-radius: 30px;
  height: 5px;
  width: 35px;
  margin-top: 8px;
  background: #000;
}

.hamburger-menu:hover span:first-child{
  transform: rotate(-125deg);
  margin-right: 18px;
  margin-top: 20px;
  float: left;
}

.hamburger-menu:hover span:last-child{
  transform: rotate(125deg);
  margin-left: 18px;
  margin-top: 20px;
}

.navbar-menu,
.navbar-lang {
  display: none;
}

/* JUMBOTRON */

.jumbotron {
  position: relative;
  height: 550px;
  background: url('../img/header/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-top: 80px;
}

.jumbotron-txt {
  width: 100%;
  padding: 0 20px;
}

/* MAIN */

/* PRODUCTS */

.product {
  margin: 40px 0;
  padding: 20px;
  background: #fafafa;
}
.product h3 {
  margin-bottom: 10px;
}
.product a {
  color: blue;
}
.product img {
  max-height: 350px;
}

/* HOW WORK */

.how-work-bg {
  height: 400px;
  background: url('../img/main/how/helbiz-banner.jpg');
  background-size: cover;
  background-position:left center;
}

.how-work-content {
  margin-top: 40px;
  padding: 0 20px;
}

.how-work-txt {
  display: inline-block;
}

.how-work-content {
  margin-top: 460px;
  padding: 0 20px;
}

.how-work-content:nth-child(3) .how-work-txt {
  padding-top: 20px;
}

.how-work-txt h4 {
  font-size: 16px
}

.how-work-txt small {
  margin: 0;
}

/* DRIVE */
.drive a {
  color: #fff;
}
.drive .app a {
  color: #000;
}

.mobility,
.app,
.cities {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  color: #fff;
  height: 400px;
}

.mobility {
  background: url('../img/main/drive/scooter-bg.jpg');
  background-size: cover;
  background-position: center;
}

.mobility-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.app {
  color: #000;
  background: url("../img/main/drive/helbiz-app.png") no-repeat center 100px, linear-gradient(#405569, #252f38);
  background-size: cover;
}

.cities {
  background: url('../img/main/drive/cities.jpg');
  background-size: cover;
  background-position: center;
}

.app-txt.pos-center,
.cities-txt.pos-center {
  top: 0;
  transform: translate(-50%, 0);
}

.mobility-box p,
.app-box p,
.cities-box p{
  padding: 20px 0;
}

/* SOCIAL */

.social {
  position: relative;
  height: 400px;
  background: url("../img/main/social/social-banner.jpg");
}

.social-box {
  color: #000;
  background: #fff;
  padding: 50px;
}
.social-box h3 {
  font-size: 32px;
}
.social-box a {
  font-size: 28px;
  padding-right: 35px;
}

.social-box .h-menu:last-child a {
  padding-right: 0;
}


/* FOOTER */


/* MEDIA QUERY */

/* TABLET VERSION */
@media screen and (min-width: 768px) {

  /* GENERAL SETTINGS */
  /* TYPOGRAPHY */

  h1 {
    font-size: 48px
  }

  /* MAIN */

  .product {
    margin-top: 40px;
    margin-right: 20px;
    padding: 20px;
    background: #fafafa;
  }
  .section-product .product-box:nth-child(2) .product {
    margin-right:0;
  }

  /* HOW WORK */
  .how-work-bg {
    height: 300px;;
  }

  .how-work-content {
    margin-top: 460px;
    padding: 0 20px;
  }


  .phone img {
    max-height: 800px;
    width: 100%;
    position: relative;
    top: 100px;
    left: 0;
    margin-bottom: 80px;
  }

  /* DRIVE */
  .drive {
    margin: 60px 0;
  }

  .mobility-box h2,
  .app-box h2,
  .cities-box h2 {
    font-size: 28px
  }



}

/* DESKTOP VERSION */
@media screen and (min-width: 992px) {

  /* GENERAL SETTINGS */


  /* HEADER */

  /* HAMBURGER MENU */
  .hamburger-menu {
    display: none;
  }

  .navbar-menu,
  .navbar-lang {
    display: inline-block;
  }

  /* NAVBAR */
  .navbar-menu > .navbar-list .navbar-item {
    padding: 0 8px;
  }

  .navbar-lang {
    padding: 0;
  }

  .navbar-lang > .navbar-list .navbar-item {
    padding: 0 7px;
    border-right: solid black 1px;
  }
  .navbar-lang > .navbar-list:nth-child(3) .navbar-item:last-child {
    border: none
  }

  /* HOW WORK */
  .how-work-bg {
    height: 400px;;
  }

  /* DRIVE */
  .mobility-box h2,
  .app-box h2,
  .cities-box h2 {
    font-size: 32px
  }



}
