/* GENERAL SETTINGS */

body {
  color: #000;
  background: #fff;
}

/* CONTAINER */
.container {
  width: 1300px;
}

.container-small {
  width: 1000px;
}

/* TYPOGRAPHY */

small {
  font-size: 16px;
  display: block;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

h1 {
  font-size: 30px
}

a {
  color: #fff;
}

/* HEADER */

.navbar {
  background: #fff;
  font-size: 14px;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  left: 50%;
  top: -80px;
  transform: translateX(-50%);
  line-height: 80px;
  z-index: 10;
  animation: nav-enter 1.5s forwards;
}

@keyframes nav-enter {

  from {
    top: -80px
  }

  to {
    top: 0
  }

}

.navbar a {
  color: #000;
}

/* ANIMATION */

.menu-highlights a::after {
  left: 5%;
  height: 5px;
  bottom: 30px;   /* INSERIRE DISTANZA LINE-HEIGHT */
  background: rgba(150, 180, 180, .4);
  transition: width .3s .5s,
              height .5s,
              border-radius .5s
}

.menu-highlights a:hover::after {
  width: 90%;
  height: 20px;
  border-radius: 5px;
  transition: width .3s,
              height .5s .5s,
              border-radius .5s .5s
}

.navbar-lang.menu-highlights li a:first-child::after {
  left: 14%;
  height: 3px;
  bottom: 29px;   /* INSERIRE DISTANZA LINE-HEIGHT */
  background: linear-gradient(rgba(100, 100, 200, .3));
  transition: width .3s .5s,
}

.navbar-lang.menu-highlights a:first-child:hover::after {
  width: 70%;
  border-radius: 0;
  transition: width .3s,
}

/* HAMBURGER MENU AND ANIMATION */

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-menu span {
  display: block;
  border-radius: 30px;
  height: 5px;
  width: 35px;
  margin-top: 8px;
  background: #000;
}

.navbar-menu,
.navbar-lang {
  display: none;
}

/* JUMBOTRON */

.jumbotron {
  position: relative;
  height: 630px;
  background: url('../img/header/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.jumbotron-txt {
  width: 100%;
  padding: 0 20px;
}

.jumbotron-txt small {
  margin: 20px 0;
}

/* MAIN */

/* PRODUCTS */
.section-product {
  position: relative;
  animation: product-enter 1.5s forwards
}
@keyframes product-enter {

from {
  top: 80px
}

to {
  top: 0
}

}

.product {
  margin: 40px 0;
  padding: 20px;
  background: #fafafa;
}

.product h3 span {
  font-weight: 300
}

.product a {
  color: blue;
}

.product img {
  max-height: 350px;
}

/* HOW WORK */

.how-work-bg {
  height: 400px;
  background: url('../img/main/how/helbiz-banner.jpg');
  background-size: cover;
  background-position: center left;
}

.how-work-txt {
  display: inline-block;
}

.how-work-content {
  margin-top: 450px;
  padding: 0 20px;
}

.how-work-content:nth-child(3) .how-work-txt {
  padding-top: 20px;
}

.how-work-txt h4 {
  font-size: 16px
}

.how-work-txt small {
  margin: 0;
}

/* DRIVE */
.drive {
  margin: 0 15px;
}

.mobility-box,
.app-box,
.cities-box {
  position: relative;
  margin: 15px 0;
  color: #fff;
  height: 400px;
}

.mobility-box {
  margin-top: 50px;
  background: url('../img/main/drive/scooter-bg.jpg');
  background-size: cover;
  background-position: center;
}

.mobility-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.app-box h3,
.cities-box h3 {
  font-size: 24px;
  padding-top: 20px;
}

.app-box a {
  padding: 0 10px;
}

.app-box {
  background: url("../img/main/drive/helbiz-app.png") no-repeat center 130px, linear-gradient(#405569, #252f38);
  background-size: cover;
}

.cities-box {
  background: url('../img/main/drive/cities.jpg');
  background-size: cover;
  background-position: center;
}

.app-txt.pos-center,
.cities-txt.pos-center {
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
}

/* SOCIAL */

.social {
  position: relative;
  height: 400px;
  background: url("../img/main/social/social-banner.jpg");
}

.social-box {
  color: #000;
  background: #fff;
  padding: 50px;
}

.social-box h3 {
  font-size: 28px;
}

.social-box a {
  color: #000;
  font-size: 24px;
  padding-right: 30px;
}

.social-box .h-menu:last-child a {
  padding-right: 0;
}

/* FOOTER */

.footer {
  margin-top: 30px;
  background: #000;
  color: #fff;
  padding: 60px 20px;
}

.footer-menu,
.footer-info {
  padding-bottom: 20px;
  border-bottom: 1px solid gray
}

.footer h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-menu li {
  padding: 10px 0;
}

.footer-menu img {
  padding: 15px 0 40px 0;
}

.footer-menu li a {
  color: gray;
  padding: 15px 0;
}

.footer-info {
  padding-top: 20px;
}

.footer-info a {
  display: inline-block;
  padding: 20px 0;
}

.footer-info a i {
  padding: 0 5px;
  font-size: 18px
}

.footer-app-box {
  padding: 20px 0;
}

.footer-app-box img {
  margin: 10px 5px 20px;
  border: solid 1px #fff;
  border-radius: 10px
}

/* MEDIA QUERY */

/* TABLET VERSION */
@media screen and (min-width: 768px) {

  /* GENERAL SETTINGS */
  /* TYPOGRAPHY */

  h1 {
    font-size: 48px
  }

  /* HAMBURGER MENU */
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }

  .hamburger-menu span {
    display: block;
    border-radius: 30px;
    height: 5px;
    width: 35px;
    margin-top: 0;
    background: #000;
    transition: margin .5s;
  }

  .hamburger-menu:hover span {
    margin-top: 5px;
  }


  /* MAIN */

  .product {
    margin-top: 40px;
    margin-right: 20px;
    padding: 20px;
    background: #fafafa;
  }
  .section-product .product-box:nth-child(2) .product {
    margin-right:0;
  }

  /* HOW WORK */
  .how-work-bg {
    height: 300px;;
  }

  .how-work-content {
    margin-top: 350px;
    padding: 0;
  }

  .how-work .phone img {
    max-height: 800px;
    width: 100%;
    position: relative;
    top: 100px;
    left: 0;
    margin-bottom: 80px;
  }

  /* DRIVE */
  .drive {
    margin: 60px 0 15px;
  }

  .app-box {
    margin-right: 15px;
  }

  .cities-box {
    margin-left: 15px;
  }

  .mobility-box h2,
  .app-box h2,
  .cities-box h2 {
    font-size: 28px
  }

  /* SOCIAL */
  .social-box h3 {
    font-size: 32px;
  }

  .social-box a {
    font-size: 28px;
    padding-right: 35px;
  }

  /* FOOTER */

  .footer-menu,
  .footer-info {
    text-align: left;
  }

  .footer-app-box img {
    margin: 10px 5px;
    border: solid 1px #fff;
    border-radius: 10px
  }

}

/* DESKTOP VERSION */
@media screen and (min-width: 992px) {

  /* HEADER */

  /* HAMBURGER MENU */
  .hamburger-menu {
    display: none;
  }

  .navbar-menu,
  .navbar-lang {
    display: inline-block;
  }

  /* NAVBAR */
  .navbar-menu > .navbar-list .navbar-item {
    padding: 0 8px;
  }

  .navbar-lang {
    padding: 0;
  }

  .navbar-lang > .navbar-list .navbar-item {
    padding: 0 7px;
    border-right: solid black 1px;
  }
  .navbar-lang > .navbar-list:nth-child(3) .navbar-item:last-child {
    border: none
  }

  /* HOW WORK */
  .how-work-bg {
    height: 400px;
  }

  .how-work-content {
    margin-top: 450px;
    padding: 0;
  }

  /* DRIVE */
  .mobility-box h2,
  .app-box h2,
  .cities-box h2 {
    font-size: 32px
  }

}

/* OVER DESKTOP */

@media screen and (min-width: 1300px) {

  /* HOW WORK */
  .how-work-bg {
    height: 480px;
  }

  .how-work-content {
    margin-top: 580px;
    padding: 0;
  }

  .how-work .phone img {
    top: 150px;
  }

}
