/* GENERAL SETTINGS */

body {
  color: #000;
  background: #fff;
}

/* HEADER */
.navbar {
  line-height: 80px
}



/* MAIN */


/* FOOTER */


/* MEDIA QUERY */
/* TABLET VERSION */
@media screen and (min-width: 768px) {

}

/* DESKTOP VERSION */
@media screen and (min-width: 992px) {

}
