/* GENERAL UTILITIES */
body {
  font-family: 'Open Sans', sans-serif;
}

/* ANIMATION */
.animation {
  transition: all ease-in .5s;
}

/* TEXT ALIGN */

.txt-left{
  text-align: left;
}

.txt-right{
  text-align: right;
}

.txt-center{
  text-align: center;
}

/* TYPOGRAPHY */
a {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 16px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}


/* MENU */

.h-menu {
  display: inline-block;
}
.v-menu {
  list-style: none;
}


/* MEDIA QUERY */
.mobile-none {
  display: none;
}

.only-mobile {
  display: block;
}

@media screen and (min-width: 768px) {

  /* MEDIA QUERY */
  .mobile-none {
    display: block;
  }

  .only-mobile {
    display: none;
  }
}
